.git
.gitignore
.DS_Store

.data
.playwright-cli
node_modules
**/node_modules
output
**/output
test-results
**/test-results
tmp

ai-server

web/node_modules
web/dist
web/output
web/test-results
web/tests
web/tests-playwright

**/.data
**/.gocache
**/.tools
**/.playwright-cli
**/*.log
**/.DS_Store
